<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>attraction</title>
    <link rel="stylesheet" href="../static/css/attractionpage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/modules/networkgraph.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>
</head>

<body>

    <figure class="highcharts-figure">
        <div id="1_chart"></div>
        <p class="highcharts-description">
            Word clouds are used to visualise the different types of attractions in Melbourne as well as the number of them. In the diagram, the more attractions of a particular type, the bigger the tag.
            <br><br>The diagram demonstrated that there are 40 types of attractions in total. The most common type of attractions is "Park", with the following of "Shopping Malls" and "Architectural Buildings".
        </p>
    </figure>

    <br>

    <figure class="highcharts-figure">
        <div id="2_chart"></div>
        <p class="highcharts-description">
            Bar chart demonstrates the number of different rating of attractions in different suburbs. The highest rating is 5 and the lowest is 3. The line chart shows the total number of attractions in different suburbs.
            <br><br> The diagram helps to illustrate the relationship between the quality and quantity of attractions in suburbs. For instance, CBD has the most number of attractions but it does not have 5 rating ones. Also, Docklands has the second highest
            number of attractions, but most of them are rated as 4, which is not a high rating.
        </p>
    </figure>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
<script src="../static/attractionpage.js"></script>


</html>